@model com.msc.infraestructure.entities.ImpuestoProveedor
@{
    Layout = null;
}
@using (Html.BeginForm("Edit", "ImpuestoProveedor", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "frmImpuestoProveedor" }))
{
    <div class="form-group">
        <div class="col-md-12">
            @Html.HiddenFor(m => m.Id)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            @Html.HiddenFor(m => m.IdProveedor)
        </div>
    </div>
    <div class="form-group has-feedback">
        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12" title="Tipo de Impuesto" data-toggle="tooltip" data-placement="right">
            @Html.DropDownListFor(m => m.Impuesto.IdTipoImpuesto, (IEnumerable<SelectListItem>)ViewBag.lstClaseImpuesto, new { @class = "form-control has-feedback-left" })
            <span class="fa fa-sort form-control-feedback left" aria-hidden="true"></span>
        </div>
    </div>
    <div class="form-group has-feedback">
        <div class="col-md-12 cols-sm-12 col-xs-12 col-lg-12" title="Impuesto" data-toggle="tooltip" data-placement="right">
            @Html.DropDownListFor(m => m.IdImpuesto, (List<SelectListItem>)ViewBag.lstImpuesto, new { @class = "form-control has-feedback-left" })
            <span class="fa fa-sort form-control-feedback left" aria-hidden="true"></span>
        </div>
    </div>
}
<script type="text/javascript">
    showCascade("#Impuesto_IdTipoImpuesto", "ImpuestosxTipo", "#IdImpuesto", "Impuesto");
</script>