@using com.msc.infraestructure.entities.mvc
@model Login
@{
    Layout = "~/Views/Shared/_LayoutLogOff.cshtml";
    ViewBag.Title = "Error de Sistema";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-12">
        @ViewBag.Message
    </div>
</div>