@using com.msc.infraestructure.entities.mvc
@model Login
@{
    Layout = null;
    ViewBag.Title = "Error de Sistema";
}
<h2 style="display: none;">@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-12">
        @ViewBag.Message
    </div>
</div>