   
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div>
                <div class="row x_title">
                    <div class="col-md-11 col-sm-11 col-xs-11 col-lg-11">
                        <h3>Bienvenido: <small>@ViewBag.Nombres</small></h3>
                    </div>
                    <div class="col-md-11 col-sm-11 col-xs-11 col-lg-11" style="text-align: center; margin-top: 50px;">
                        <img src="~/Content/images/LogoMSCNegro.png" width="60%" height="60%" />
                    </div>
                </div>
                
                <div class="clearfix"></div>
            </div>
        </div>

    </div>