<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CompanyContext" connectionString="data source=.;initial catalog=COMPANY;user id=sa;Password=03071982;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ErrorFolder" value="C:\Errores\" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="from@example.com">
        <network host="smtp.mailtrap.io" port="2525" userName="372fb233d6a939" password="f352acf89a7345" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <services>
      <service name="com.msc.services.implementations.SeguridadService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/MSC-WCF/" />
            <!--<add baseAddress="http://localhost:3162/"/>-->
          </baseAddresses>
        </host>
        <endpoint address="http" binding="basicHttpBinding" contract="com.msc.services.interfaces.ISeguridad" bindingConfiguration="basicBinding" />
      </service>
      <service name="com.msc.services.implementations.SistemaService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/MSC-WCF/" />
            <!--<add baseAddress="http://localhost:3162/"/>-->
          </baseAddresses>
        </host>
        <endpoint address="http" binding="basicHttpBinding" contract="com.msc.services.interfaces.ISistema" bindingConfiguration="basicBinding" />
      </service>
      <service name="com.msc.services.implementations.ReporteService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/MSC-WCF/" />
            <!--<add baseAddress="http://localhost:3162/"/>-->
          </baseAddresses>
        </host>
        <endpoint address="http" binding="basicHttpBinding" contract="com.msc.services.interfaces.IReporte" bindingConfiguration="basicBinding" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="basicBinding" maxReceivedMessageSize="104857600" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="tcpBinding" maxReceivedMessageSize="104857600">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="streamedTcpBinding" maxBufferPoolSize="104857600" maxReceivedMessageSize="104857600" transferMode="Streamed">
          <readerQuotas maxBytesPerRead="104857600" maxArrayLength="104857600" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>